@mixin button_styled {
  width: 60%;
  height: 50px;
  margin-top: 20px;
  border: 0px;
  border-radius: 10px;
  font-size: large;
  font-weight: bold;
  background-color: #FFC300;

  &:hover {
    background-color: #E6B411;
  }
}

@mixin input_styled {
  width: 60%;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px;
}

@mixin input_with_button_styled {

  input {
    width: 48%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px;
  }

  button {
    width: 10%;
    height: 50px;
    margin-left: 2%;
    padding: 1%;
    border: 0px;
    border-radius: 10px;
    font-size: small;
    font-weight: bold;
    background-color: #FFC300;
  
    &:hover {
      background-color: #E6B411;
    }
  }
}

.join_container{
  width: 100vw;
  height: calc(100vh - 84px);
  display: flex;
  justify-content: center;
  align-items: center;

  & .join_box {
    width: calc(100vw / 2);
    margin: 30px;
    text-align: center;

    & .page_title {
      font-size: 36px;
      font-weight: bolder;
      margin-bottom: 30px;
    }
    
    & .email_join_form {
      width: 100%;
      
        & .email_button {
          @include input_with_button_styled;
        }
    }


    & .submit_button {
      @include button_styled;
    }
  }

  & input {
    @include input_styled;
  }

  & .warning_msg {
    margin-left: calc(100vw / 10 + 5px);
    font-size: small;
    color: #fd5f5f;
    text-align: left;
  }

}