@mixin input_styled {
  width: 50%;
  height: 50px;
  margin-top: 5px;
  border-radius: 10px;
  padding: 5px;
}

@mixin button_styled_a {
  width: 90px;
  height: 50px;
  margin-top: 10px;
  margin-left: 10px;
  border: 0px;
  border-radius: 10px;
  font-size: medium;
  font-weight: 200;
}

@mixin button_styled_b {
  height: 50px;
  margin-top: 10px;
  border: 0px;
  border-radius: 10px;
  font-size: medium;
  font-weight: 200;
}

.mySettingContainer {
  display: flex;
  width: 100vw;
  margin-top: 84px;
}

.layoutContainer {
  width: 100%;
  padding: 48px 28px;
  font-size: large;
  font-weight: bold;

  & .otherInfo {
    display: flex;
    margin-top: 20px;

    & .profileImgArea {
      width: 250px;
      height: 100%;
      margin-right: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;

      & .memberProfileImage {
        border-radius: 10px;
      }

      & .changeImage {
        @include button_styled_b;
        width: 200px;
        font-weight: bold;
        background-color: #ffc300;
      }
    }

    & .subInfo {
      width: 70%;

      & .settingName {
        display: flex;
        align-items: center;

        & input {
          margin-left: 10px;
        }
      }

      label {
        color: var(--txtColor);
      }
    }
  }

  & input {
    @include input_styled();
  }

  & .changeMail {
    @include button_styled_a();
    background-color: #ffc300;
    font-weight: bold;

    &:hover {
      background-color: #e6b411;
    }
  }

  & .warning_msg {
    font-size: small;
    color: #fd5f5f;
  }

  & .pageTitle {
    margin: 10px 0px;
  }
}

.otherInfo {
  margin-bottom: 30px;

  & h2 {
    margin-bottom: 20px;
  }
}

.mailArea {
  padding: 10px;

  span {
    color: var(--txtColor);
  }
}

.changePassword {
  padding: 10px;

  & .passwordArea {
    padding: 10px;
  }
}

.changePart {
  @include button_styled_b();
  font-weight: bold;
  background-color: #ffc300;

  &:hover {
    background-color: #e6b411;
  }

  &:first-child {
    width: 80%;
  }

  &:last-child {
    width: 50%;
  }
}

.deleteAccount {
  @include button_styled_b();
  width: 15%;
  background-color: #e0e0e0;
  margin-left: 70%;
  margin-top: 30px;

  &:hover {
    background-color: #dadada;
  }
}
