@mixin input_styled {
  width: 50%;
  height: 50px;
  margin-top: 5px;
  border-radius: 10px;
  padding: 5px;
}

@mixin button_styled_a {
  width: 90px;
  height: 50px;
  margin-top: 10px;
  margin-left: 10px;
  border: 0px;
  border-radius: 10px;
  font-size: medium;
  font-weight: 200;
}

@mixin button_styled_b {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  border: 0px;
  border-radius: 10px;
  font-size: medium;
  font-weight: 200;
}

.mySettingContainer {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-top: 84px;
}

.layoutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 720px;
  font-size: large;
  font-weight: bold;
  padding: 44px 24px 88px;

  & .otherInfo {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    & .profileImgArea {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 24px 0;
      border: 1px solid var(--brColor);
      border-radius: 10px;
      margin-bottom: 34px;

      & .memberProfileImage {
        border-radius: 10px;
      }

      & .changeImage {
        @include button_styled_b;
        width: 200px;
        font-weight: bold;
        background-color: #ffc300;
      }
    }

    & .subInfo {
      width: 100%;

      & .settingName {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 44px;

        & input {
          width: 100%;
          border: 1px solid #d5d5d5;
          background: var(--boxBg);
        }
      }
    }

    .pageSettings {
      margin-bottom: 44px;

      .radiosWrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .radioCont {
          width: 100%;
          margin-bottom: 12px;

          &:last-child {
            margin-bottom: 0;
          }

          label {
            display: flex;
            align-items: center;
            color: var(--txtColor);

            input {
              display: block;
              width: 50px;
              margin-right: 24px;
            }
          }
        }
      }
    }
  }

  & input {
    @include input_styled();
  }

  & .changeMail {
    @include button_styled_a();
    background-color: #ffc300;
    font-weight: bold;

    &:hover {
      background-color: #e6b411;
    }
  }

  & .warning_msg {
    font-size: small;
    color: #fd5f5f;
  }

  & .pageTitle {
    margin: 10px 0px;
  }
}

.otherInfo {
  margin-bottom: 30px;

  & h2 {
    margin-bottom: 20px;
  }
}

.mailArea {
  width: 100%;

  span {
    color: var(--txtColor);
  }

  input {
    width: 85%;
  }
}

.changePassword {
  width: 100%;

  input {
    width: 100%;
  }
}

.changePart {
  @include button_styled_b();
  font-weight: bold;
  background-color: #ffc300;

  &:hover {
    background-color: #e6b411;
  }

  &:first-child {
    width: 80%;
  }
}

.deleteAccount {
  width: 100%;
  margin-top: 44px;
  background: transparent;
  color: #aaa;
  border: none;
  text-align: center;
  font-size: 14px;
  cursor: pointer;

  &:hover {
    color: #555;
    text-decoration: underline;
  }
}
