@import "./BreakPoint";

// Board - List
.board-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: var(--bg);
  border: 1px solid var(--brColor);
  border-radius: 10px;
  margin-bottom: 14px;
  padding: 20px 24px;

  &.noticePost {
    border: 1px solid var(--primary);
    background: #fff8e1;

    &:hover {
      background: #f9f1d7;
    }

    .tags {
      .tag {
        background: #ffe58f;

        &.notice {
          background: var(--primary);
        }
      }
    }
  }

  &:hover {
    background: var(--bgHover);
  }

  &:last-child {
    margin-bottom: 0;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;

    .tag {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4px 12px;
      background: #e0e0e0;
      border-radius: 5px;
      font-size: 11px;
      color: var(--txtColor);

      &:last-child {
        margin-right: 0;
      }
    }
  }

  h3 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 20px;
    font-weight: 600;
    color: var(--txtColor);
    margin-bottom: 8px;
  }

  p {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 15px;
    font-weight: 500;
    color: var(--pColor);
    margin-bottom: 16px;
  }

  .board-info {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    color: var(--sColor);
  }

  .bookmarkBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: none;
    border: none;
    cursor: pointer;

    &.active {
      svg {
        fill: var(--primary);
      }
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

[data-theme="dark"] .board-item {
  &.noticePost {
    border: 1px solid #242424;
    background: #242424;

    &:hover {
      background: #343434;
    }

    .tags {
      .tag {
        background: #503e00;

        &.notice {
          background: var(--primary);
        }
      }
    }
  }

  .tags {
    .tag {
      background: #444;
      color: var(--txtColor);
    }
  }

  .board-info {
    color: #565656;
  }

  .bookmarkBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: none;
    border: none;
    cursor: pointer;

    &.active {
      svg {
        fill: var(--primary);
      }
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

// Board - View
.top-board-view {
  display: flex;
  align-items: center;
  margin-bottom: 32px;

  .back-btn {
    display: block;
    border: none;
    margin-right: 24px;
    cursor: pointer;
  }

  h2 {
    font-size: 34px;
    font-weight: 700;
    color: var(--txtColor);
  }
}

.view-info-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 34px;
  margin-bottom: 18px;

  .view-info {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: var(--sColor);
  }

  .bookmarkBtn {
    border: none;
    cursor: pointer;

    &.active {
      svg {
        fill: var(--primary);
      }
    }
  }
}

.view-tags {
  display: flex;
  align-items: center;
  padding: 0 34px;
  margin-bottom: 42px;

  .tag {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    background: #444;
    border-radius: 5px;
    margin-right: 8px;
    font-size: 11px;
    color: var(--txtColor);

    &.notice {
      background: var(--primary);
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

[data-theme="dark"] .view-info-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 34px;
  margin-bottom: 18px;

  .view-info {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: var(--sColor);
  }

  .bookmarkBtn {
    border: none;
    cursor: pointer;

    &.active {
      svg {
        fill: var(--primary);
      }
    }
  }
}

.view-tags {
  display: flex;
  align-items: center;
  padding: 0 34px;
  margin-bottom: 42px;

  .tag {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    background: #444;
    border-radius: 5px;
    margin-right: 8px;
    font-size: 11px;
    color: var(--txtColor);

    &.notice {
      background: var(--primary);
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.board-view-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 34px 48px;
  min-height: 400px;
  line-height: 1.6;
}

.comment-wrap {
  border-top: 1px solid var(--brColor);
  margin: 0 34px;
}

.comment-input-wrap {
  position: relative;
  width: 100%;

  textarea {
    display: block;
    width: 100%;
    min-height: 140px;
    border: 1px solid var(--brColor);
    font-size: 16px;
    color: var(--txtColor);
    border-radius: 10px;
    padding: 24px;
    overflow-y: scroll;
    resize: vertical;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    font-size: 16px;
    font-weight: 500;
    color: var(--txtColor);
    position: absolute;
    right: 24px;
    bottom: 10px;
    border: none;
    border-radius: 5px;
    padding: 6px 18px;
  }
}

.comment-info {
  font-size: 20px;
  font-weight: 600;
  color: var(--txtColor);
  margin: 16px 0 24px;

  span {
    color: var(--primary);
  }
}

.viewTable {
  display: block;
  width: 1000px;
  min-width: 100%;
  max-width: 100%;
  overflow-x: auto;
  border-collapse: collapse;

  thead tr {
    height: 72px;
    background: #e0e0e0;

    th {
      min-width: 200px;
      border: 1px solid var(--brColor);
      text-align: center;
    }
  }

  tbody tr {
    height: 64px;
    background: var(--bg);

    td {
      min-width: 200px;
      border: 1px solid var(--brColor);
      text-align: center;
    }
  }
}

[data-theme="dark"] .viewTable {
  thead tr {
    background: #444;
  }
}

.editButtons {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border: 1px solid var(--brColor);
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background: #e9e9e9;
    }

    &.deleteBtn {
      margin-right: 8px;

      svg {
        fill: #d41d1d;
      }
    }

    &.editBtn {
      svg {
        fill: #0b9218;
      }
    }
  }
}

// Board - write
@include hightWide {
  .templateSelect {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(5, minmax(auto, 1fr));
    align-items: center;
    justify-content: space-around;
  }
}

@include desktop {
  .templateSelect {
    display: grid;
    grid-gap: 88px;
    grid-template-columns: repeat(3, minmax(auto, 1fr));
    align-items: center;
    justify-content: space-around;
  }
}

@include tablet {
  .templateSelect {
    display: grid;
    grid-gap: 34px;
    grid-template-columns: repeat(3, minmax(auto, 1fr));
    align-items: center;
    justify-content: space-around;
  }
}

@include mobile {
  .templateSelect {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    align-items: center;
    justify-content: space-around;
  }
}

.top-board-view.write {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;

  .topBoardLeft {
    display: flex;
    align-items: center;
  }

  .writeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #242424;
    background: var(--primary);
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
}

.templateWrap {
  width: 100%;

  h4 {
    font-size: 18px;
    font-weight: 600;
    color: var(--txtColor);
    margin-bottom: 8px;
  }

  .templateSelect {
    margin-bottom: 36px;

    button {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 24px 0;
      background: var(--bg);
      border: 1px solid var(--brColor);
      border-radius: 10px;
      cursor: pointer;

      svg {
        fill: #d9d9d9;
        margin-bottom: 20px;
      }

      span {
        font-size: 16px;
        font-weight: 500;
        color: var(--txtColor);
      }

      &.active {
        border: 2px solid var(--primary);

        svg {
          fill: var(--primary);
        }
      }

      &:hover:not(&.active) {
        background: var(--bgHover);
        border: 1px solid #c0c0c0;

        svg {
          fill: #c0c0c0;
        }
      }
    }
  }
}

.boardWirteInputs {
  display: flex;
  flex-direction: column;

  .inputText {
    width: 100%;
    border-radius: 10px;
    padding: 28px 24px;
    font-size: 20px;
    font-weight: 600;
    color: var(--txtColor);
    border: 1px solid var(--brColor);
    margin-bottom: 24px;

    &::placeholder {
      color: #909090;
    }

    &.tagSearchInput {
      padding: 28px 24px 28px 60px;
      margin-bottom: 14px;
    }
  }

  .noticeBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 24px;
    font-size: 18px;
    color: var(--txtColor);

    label {
      margin-left: 8px;
    }
  }

  .editorBox {
    height: 500px;

    .quillEditor {
      height: 100%;

      .ql-container {
        height: calc(100% - 42px);
        background: var(--bg);
      }
    }
  }
}

.tagWrap {
  position: relative;
  margin-bottom: 24px;
}

.tagSearchBox {
  position: relative;

  svg {
    position: absolute;
    left: 20px;
    top: 28px;
  }
}

.selectTagWrap {
  display: flex;
  flex-wrap: wrap;

  .selectTagItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background: #e0e0e0;
    border-radius: 50px;
    margin-right: 14px;
    margin-bottom: 14px;

    span {
      display: block;
      margin-left: 24px;
      cursor: pointer;
    }
  }
}

.tagsMenuWrap {
  position: absolute;
  top: 86px;
  left: 0;
  width: 400px;
  height: auto;
  max-height: 300px;
  padding: 14px 0;
  overflow-y: auto;
  background: var(--mdBg);
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.35);
  z-index: 10;

  .tagItem {
    padding: 12px 24px;

    &:hover {
      background: #242424;
      font-weight: 700;
      color: var(--primary);
    }
  }

  .noItem {
    display: flex;
    justify-content: center;
  }
}

.tableWrap {
  display: flex;
  width: 100%;
}

.writerTable {
  display: block;
  width: 1000px;
  min-width: calc(100% - 78px);
  max-width: calc(100% - 78px);
  overflow-x: auto;
  border-collapse: collapse;

  thead tr {
    height: 72px;
    background: #e0e0e0;

    th {
      min-width: 200px;
      border: 1px solid var(--brColor);

      input {
        display: block;
        width: 100%;
        height: 72px;
        border: none;
        background: transparent;
        padding: 0 4px;
        font-size: 20px;
        font-weight: 700;
        color: var(--txtColor);
        text-align: center;
      }
    }
  }

  tbody tr {
    background: var(--bg);

    td {
      min-width: 200px;
      border: 1px solid var(--brColor);

      input {
        display: block;
        width: 100%;
        height: 72px;
        border: none;
        background: transparent;
        padding: 0 4px;
        font-size: 16px;
        font-weight: 500;
        color: var(--txtColor);
        text-align: center;
      }
    }
  }
}

[data-theme="dark"] .writerTable {
  thead tr {
    background: #242424;
  }
}

.colAddBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  margin-left: 14px;
}

.rowAddBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 64px;
  margin-top: 14px;
}
