.comment-item {
  display: flex;
  border-bottom: 1px solid #d5d5d5;
  padding: 24px 0;

  .comment-profile {
    border-radius: 48px;
  }

  .comment-right {
    width: 100%;
    margin-left: 12px;

    .right-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 10px;

      span {
        font-size: 15px;
        color: #242424;

        &:last-child {
          font-size: 13px;
        }
      }
    }

    p {
      font-size: 16px;
      color: #242424;
    }
  }

  .uillBtns {
    display: none;

    &.edit {
      display: flex;
      align-items: center;
    }

    button {
      background: transparent;
      border: none;
      font-size: 14px;
      color: #242424;
      margin-right: 12px;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &:hover {
    .uillBtns {
      display: flex;
      align-items: center;
    }
  }

  .editComment {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    min-height: 120px;
    resize: none;
  }
}
