header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--headerSize);
  padding: 0 28px;
  border-bottom: 1px solid var(--brColor);
  background: var(--bg);
  z-index: 5;
}

.right-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & a {
    color: var(--txtColor);
    font-size: 18px;
    font-weight: 600;
  }
}

.channel-menu {
  display: flex;
  align-items: center;
  margin-right: 28px;
}

.channel-menu a {
  margin-right: 28px;

  &:last-child {
    margin-right: 0;
  }
}

.img-profile {
  display: block;
  border-radius: 48px;
}

.setting-menu {
  position: relative;

  button {
    display: block;
    border: none;
    cursor: pointer;
  }
}

.modalMenuWrap {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 78px;
  right: 0;
  width: 140px;
  padding: 8px 0;
  background: var(--mdBg);
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.35);

  ul {
    display: flex;
    flex-direction: column;
    width: 100%;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 12px 8px;
      cursor: pointer;

      &:hover {
        background: var(--boxBgHover);
      }
    }
  }
}

.notification-menu {
  display: flex;
  align-items: center;
  position: relative;
  height: 48px;

  button.notificationBtn {
    display: block;
    padding-right: 28px;
    border: none;
    cursor: pointer;
  }

  .notificationNewCounter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    background: red;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    position: absolute;
    right: 20px;
    top: 6px;
  }
}
