.modal-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;

  &.boardAdd {
    .modal-wrap {
      height: 340px;
    }
    .modal-content {
      height: auto;
    }
  }
}

.modal-wrap {
  background: var(--mdBg);
  position: relative;
  max-width: 720px;
  width: 100%;
  height: 694px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 44px 64px;
}

.modal-header {
  margin-bottom: 44px;

  span {
    display: block;
    font-size: 12px;
    font-weight: 400;
    color: var(--sColor);
    margin-bottom: 8px;
  }

  h2 {
    font-size: 34px;
    font-weight: 700;
    color: var(--txtColor);
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  height: 412px;
  margin-bottom: 24px;
  color: var(--txtColor);

  input {
    display: block;
    margin-bottom: 24px;
    height: 62px;
    border-radius: 10px;
    background: var(--boxBg);
    border: 1px solid #d5d5d5;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;

    &::placeholder {
      color: #909090;
    }
  }

  textarea {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    height: 360px;
    border-radius: 10px;
    background: var(--boxBg);
    border: 1px solid #d5d5d5;
    padding: 20px;
    resize: none;

    &::placeholder {
      color: #909090;
    }
  }
}

.buttons {
  display: flex;
  justify-content: center;

  button {
    display: flex;
    padding: 16px 44px;
    border-radius: 10px;
    background: #e0e0e0;
    font-size: 16px;
    color: #242424;
    border: none;
    cursor: pointer;

    &:last-child {
      margin-left: 24px;
      background: var(--primary);
    }
  }
}

.notificationBox {
  position: absolute;
  top: 78px;
  right: 0;

  width: 320px;

  background: var(--mdBg);
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.35);
  z-index: inherit;

  .notificationHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 12px 24px;
    border-bottom: 1px solid var(--brColor);

    h5 {
      font-size: 20px;
    }

    button.notificationDelete {
      display: block;
      padding: 8px 8px;
      background: var(--primary);
      color: #242424;
      font-weight: 600;
      border-radius: 5px;
      border: none;
      cursor: pointer;
    }
  }

  .notificationMain {
    height: 320px;
    overflow-y: auto;

    .notificationItem {
      padding: 20px 24px;

      &:hover {
        background: var(--boxBgHover);
        cursor: pointer;
      }

      &.read {
        p {
          color: #aaa;
        }

        span {
          color: #aaa;
        }
      }

      p {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 18px;
        font-weight: 600;
        color: var(--txtColor);
      }

      span {
        font-size: 12px;
        font-weight: 400;
        color: #888;
      }
    }

    .no_notification {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;

      svg {
        fill: #ccc;
      }

      span.no_span {
        display: block;
        padding-top: 24px;
        color: #909090;
      }
    }
  }
}

[data-theme="dark"] .notificationBox {
  .notificationHeader {
    border-bottom: 1px solid #444;
  }
}

[data-theme="dark"] .notificationMain {
  .notificationItem {
    &.read {
      p {
        color: #666;
      }

      span {
        color: #666;
      }
    }
  }
}

.profileChangeModal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;

  .profileChangeWrap {
    background: var(--mdBg);
    position: relative;
    max-width: 720px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 44px 34px;

    h2 {
      color: var(--txtColor);
      margin-bottom: 14px;
    }

    .imageGrid {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(6, minmax(auto, 1fr));
      margin-bottom: 24px;
    }

    .profileChangeButtons {
      display: flex;
      justify-content: center;

      button {
        display: block;
        padding: 8px 16px;
        border-radius: 5px;
        margin-right: 14px;
        background: #e0e0e0;
        color: #242424;
        font-size: 16px;
        font-weight: 500;
        border: none;
        cursor: pointer;

        &.confirmBtn {
          margin-right: 0;
          background: var(--primary);
        }
      }
    }
  }
}

.addTagModalContainer {
  background: var(--mdBg);
  position: relative;
  max-width: 720px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 44px 34px;

  h2 {
    margin-bottom: 14px;
  }

  .close {
    color: var(--txtColor);
  }

  input {
    height: 44px;
    background: var(--boxBg);
    border: 1px solid #d5d5d5;
    border-radius: 10px;
    padding: 0 24px;
    margin-bottom: 12px;
  }

  select {
    height: 44px;
    background: var(--boxBg);
    border: 1px solid #d5d5d5;
    border-radius: 10px;
    padding: 0 24px;
    margin-bottom: 24px;
    color: var(--txtColor);
  }

  .buttonBundle {
    display: flex;
    justify-content: center;

    button {
      display: block;
      padding: 8px 16px;
      border-radius: 5px;
      margin-right: 14px;
      background: #e0e0e0;
      color: #242424;
      font-size: 16px;
      font-weight: 500;
      border: none;
      cursor: pointer;

      &.confirmBtn {
        margin-right: 0;
        background: var(--primary);
      }
    }
  }
}

.showTodoModalContent {
  background: var(--mdBg);
  position: relative;
  max-width: 720px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 44px 34px;

  h2 {
    margin-bottom: 14px;
  }

  .close {
    color: var(--txtColor);
  }

  button {
    display: block;
    margin-top: 24px;
    padding: 8px 0;
    border-radius: 10px;
    background: var(--primary);
    color: #242424;
    border: none;
    cursor: pointer;

    &:hover {
      background: #e6b411;
    }
  }
}