body,
html {
  height: 100%;
  margin: 0;
  background-color: #f1f1f1;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0px;
}

.chatTitle {
  margin-left: 23px;
  margin-top: 20px;
}

.chatArea {
  height: 100%;
  flex: 1;
  padding: 20px;
  padding-bottom: 80px; /* messageInput의 높이만큼 패딩 추가 */
  overflow-y: auto;
  position: relative;
}

.commentsView {
  display: flex;
  flex-direction: column;
}

.backButton {
  align-self: flex-start;
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: #ffc300;
  color: #242424;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.messageInput {
  display: flex;
  align-items: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 78%;
  box-sizing: border-box;
  margin-left: 240px;

  .quillEditor {
    flex: 1;
    .ql-container {
      height: auto;
      min-height: 100px;
      background-color: #ffffff;
    }
  }
}

.submitButton {
  margin-left: 10px;
  background-color: #ffc300;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px 20px;
}

.messageThread,
.chatArea {
  margin-bottom: 15px;

  .message {
    display: flex;
    align-items: flex-start;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .profilePicture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .messageContent {
    display: flex;
    flex-direction: column;
  }

  .messageHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-bottom: 5px;
  }

  .username {
    font-weight: bold;
    margin-right: 10px;
  }

  .timestamp {
    font-size: 0.85em;
    color: #464646;
  }

  // .messageText {
  //   margin-top: 5px;
  // }

  .replyButton {
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
    color: #ffc300;
  }

  .comments {
    margin-top: 10px;
    border-top: 1px solid #d5d5d5;
    padding-top: 10px;

    .comment {
      display: flex;
      align-items: flex-start;
      padding: 8px;
      border-radius: 5px;
      margin-bottom: 10px;
    }

    .profilePicture {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }

    .commentContent {
      display: flex;
      flex-direction: column;
    }

    .commentHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // margin-bottom: 5px;
    }

    // .commentText {
    //   margin-top: 5px;
    // }
  }
}
