.todoContainer {
  padding: 20px;
}

.todoContainer h2 {
  margin-bottom: 30px;
}

.upperTodoList {
  border: 1px solid #d5d5d5;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.upperTodoHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.upperSide {
  display: flex;
  gap: 15px;
}

.upperDate {
  font-size: 12px;
  color: #464646;
}

.middleTodoList {
  border: 1px solid #d5d5d5;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.middleTodoHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.middleSide {
  display: flex;
  gap: 15px;
}

.middleDate {
  font-size: 12px;
  color: #464646;
}

.middleTodoHeader h4 {
  background-color: #ffc300;
  padding: 5px 10px;
  border-radius: 5px;
}

.lowerTodoList {
  margin-bottom: 5px;
  background: #ffffff;
  border-radius: 5px;
  padding: 5px 5px;
}

.lowerTodoContainer {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.lowerTitle {
  font-size: 15px;
  text-align: start;
}

.lowerDate {
  font-size: 12px;
  color: #464646;
}

.assigneeTag {
  display: inline-block;
  background: #f1f1f1;
  border-radius: 5px;
  padding: 3px 10px;
  font-size: 12px;
  color: #242424;
  margin-top: 30px;
}

.lowAddSubtask {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 60px;
  border: 2px dashed #d5d5d5;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #ffffff;
}

.lowAddSubtask:hover {
  background: #e0e0e0;
}

.addSubtask {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border: 2px dashed #d5d5d5;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  //   background: #e0e0e0;
}

.addSubtask:hover {
  background: #e0e0e0;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  width: 400px;
  max-width: 90%;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.eventTitle {
  font-size: 24px;
  margin-bottom: 20px;
}

.modalContent input,
.modalContent textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  border: none;
}

.modalContent button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  background-color: #ffc300;
  cursor: pointer;
}

.modalButtons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

// .modal div:not(.eventMemo) {
//   display: flex;
//   justify-content: space-between;
// }

// .modal input {
//   width: 75%;
//   padding: 0px;
// }

.dropdownMenu {
  position: absolute;
  top: 50px;
  right: 0;
  background: #e0e0e0;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 120px;
}

.dropdownItem {
  padding: 10px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}

.dropdownItem:not(:last-child) {
  border-bottom: 1px solid #d5d5d5;
}

.dropdownItem:hover {
  background: #bbb;
}
