@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

:root {
  --primary: #ffc300;

  --headerSize: 84px;
  --sideSize: 240px;

  --bg: #f1f1f1;
  --bgHover: #f9f9f9;
  --boxBg: #fff;
  --boxBgHover: #f9f9f9;
  --mdBg: #fff;

  --brColor: #d5d5d5;
  --txtColor: #242424;
  --sColor: #565656;
  --pColor: #464646;
}

[data-theme="dark"] {
  --bg: #0f0f0f;
  --bgHover: #292929;
  --boxBg: #242424;
  --boxBgHover: #343434;
  --mdBg: #282828;

  --brColor: #282828;

  --txtColor: #efefef;
  --sColor: #888;
  --pColor: #aaa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

html,
body {
  width: 100dvw;
  height: 100dvh;
  font-family: "pretendard", "sans-serif";
  background: var(--bg);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background: transparent;
}

svg {
  fill: var(--txtColor);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
textarea,
label,
ul,
li {
  color: var(--txtColor);
}

input,
textarea {
  background: var(--boxBg);
}

[data-theme="dark"] input {
  border-color: #282828;
}

[data-theme="dark"] textarea {
  border-color: #282828;
}

.top-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}
