.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  & p {
    margin-bottom: 10px;
  }

  .dateNavigation {
    display: flex;
    align-items: center;

    button {
      display: block;
      color: var(--txtColor);
      border: 1px solid var(--brColor);
      background: var(--boxBg);
      margin-right: 8px;
      padding: 4px 8px;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background: var(--boxBgHover);
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  [data-theme="dark"] .dateNavigation {
    button {
      border-color: #444;
    }
  }
}

.header p:first-child {
  font-size: 24px;
  font-weight: bold;
}

.header p:last-child {
  font-size: 18px;
}

.todoContainerWrapper {
  margin: 30px 0px;
  padding: 15px;
  width: 100%;
  overflow-x: auto;
  border: 2px solid var(--brColor);
  border-radius: 10px;
}

.myTodoContainer {
  display: flex;
  padding-bottom: 10px;
  width: max-content;
}

.projectContainer {
  background-color: var(--bg);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 250px;
  margin-right: 20px;
  flex-shrink: 0;
  overflow-y: auto;
  max-height: 400px;
  box-sizing: border-box;
}

.projectContainer:last-child {
  margin-right: 0;
}

.projectContainer h2 {
  font-weight: bold;
  margin-bottom: 15px;
}

.todoList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todoList button {
  border: 1px solid #dedede;
}

[data-theme="dark"] .todoList button {
  border: 1px solid #343434;
}

.todoItem {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--brColor);
  padding-bottom: 10px;
  background-color: var(--bg);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &.completed {
    text-decoration: line-through;
  }

  &:hover {
    background-color: #dadada;
  }
}

[data-theme="dark"] .todoItem {
  &:hover {
    background-color: #282828;
  }
}

.todoTitle {
  width: 100%;
  margin-bottom: 10px;
}

.checkTodoTitle {
  display: flex;
}

.bottomTodoTitle {
  font-size: medium;
  font-weight: bold;
  margin: 5px;
}

.bottomTodoDate {
  font-size: 15px;
  margin: 5px;
}

.assignees {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0px;
}

.assignees p {
  background-color: #e0e0e0;
  border: 1px solid var(--brColor);
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 10px;
}

[data-theme="dark"] .assignees p {
  background-color: #444;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  background-color: #e0e0e0;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 5px;
}

[data-theme="dark"] .tag {
  background-color: #444;
}

.calendar {
  width: 100%;
  background-color: #e0e0e0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] .calendar {
  background-color: #e0e0e0;
}
