@mixin button_styled {
  width: 50%;
  height: 50px;
  margin-top: 20px;
  border: 0px;
  border-radius: 10px;
  font-size: large;
  font-weight: bold;
}

@mixin input_styled {
  width: 50%;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px;
}

.loginContainer {
  width: 100vw;
  height: calc(100vh - 84px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  & .loginBox {
    width: calc(100vw / 2);
    margin: 30px;
    text-align: center;

    & .emailLogin {
      margin-bottom: 40px;

      & .pageTitle {
        font-size: 36px;
        font-weight: bolder;
        margin-bottom: 30px;

        & .emailLoginForm {
          width: 50%;
          height: 50px;
        }
      }

      & .pageLink {
        font-size: small;
        margin: 20px;
        color: var(--txtColor);
      }

      & .warningMsg {
        margin-left: 25%;
        font-size: small;
        color: #fd5f5f;
        text-align: left;
      }
    }
  }

  & hr {
    border: 1px solid "#D5D5D5";
    margin-bottom: 15px;
  }
}

.submitEmail {
  @include input_styled;
}

.submitPassword {
  @include input_styled;
}

.loginWithEmail {
  @include button_styled;
  background-color: #e0e0e0;

  &:hover {
    background-color: #dadada;
  }
}

.loginWithKakao {
  @include button_styled;
  background-color: #ffc300;

  &:hover {
    background-color: #e6b411;
  }
}

.orText {
  font-weight: bold;
  margin-bottom: 15px;
}
