nav {
  position: fixed;
  top: var(--headerSize);
  left: 0;
  min-width: var(--sideSize);
  height: auto;
  min-height: calc(100dvh - var(--headerSize));
  background: var(--bg);
  border-right: 1px solid #d5d5d5;
  padding: 40px 24px;
  z-index: 5;

  &.noActive {
    h2 {
      display: none;
    }

    .side-menu {
      span {
        display: none;
      }

      .boardUtilBtn {
        display: none;
      }
    }
  }
}

.top-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  margin-bottom: 12px;
  padding: 0 0 12px;
  border-bottom: 1px solid #d5d5d5;

  h2 {
    font-size: 24px;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
  }
}

.side-menu {
  li {
    margin: 0 -8px 8px;

    a {
      display: flex;
      align-items: center;
      height: 50px;
      font-size: 18px;
      font-weight: 600;
      color: #242424;
      padding: 0 8px;
      border-radius: 10px;

      &:hover {
        background: #e0e0e0;
      }

      &.active {
        background-color: #242424;
        color: var(--primary);

        svg {
          fill: var(--primary);
        }
      }

      .menuGroup {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .boardUtilBtn {
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
        }
      }

      .icon-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: 28px;
      }

      span {
        display: block;
        margin-left: 4px;
      }
    }
  }
}
