

.projectSettingContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  

  h1 {
    font-size: 24px;
  }
}

.projectInfoSetting,
.memberManagement,
.tagManagement {
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  & h3, h4 {
    margin-bottom: 10px;
  }

}

.projectInfoSetting {
  & .projectStateRadio {
    display: flex;
    justify-content: space-around;
  
    & .progressRadio, .endRadio {
      margin: 10px;
    }
  }

  & .deleteButton {
    margin-left: 20px;
    border: none;
    color: #242424;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    background-color: #E0E0E0;

    &:hover {
      background-color: #DADADA;
    }
  }
}



.projectName,
.projectDescription,
.projectStatus {
  margin-bottom: 20px;
}

.projectTitle,
.projectDis,
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #D5D5D5;
  border-radius: 10px;
}

input[type="radio"] {
  margin-right: 5px;
}

.memberButtons {
  width: 200px;
  display: flex;
  justify-content: space-between;

  .memberButton {
    background-color: #FFC300;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  
    &:hover {
      background-color: #E6B411;
    }
  }
}

.settingButton {
  background-color: #FFC300;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    background-color: #E6B411;
  }

  &:last-child {
    margin-top: 30px;
  }
}

.memberList {
  list-style: none;
  padding: 0;

  & .memberItem {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    border-bottom: 1px solid #D5D5D5;
  
    & .memberName {
      width: 50px;
    }
  
    & img {
      border-radius: 50%;
      margin-right: 10px;
    }
  
    & select,
    & p {
      margin-right: 10px;
    }
  
    & select {
      width: 100px;
    }

    & .memberProfileImage {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }
  }
}



.tagManagement {

  & .tagList {
    display: flex;
    flex-wrap: wrap;
  }

  & .tagAddButton {
    background-color: #FFC300;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;

    &:hover {
      background-color: #E6B411;
    }
  }
  
  & .tagItem {
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid #D5D5D5;
    background-color: #E0E0E0;
  
    &:hover {
      background-color: #DADADA;
    }
  }
}


.projectDescription input {
  height: 150px;
}

.title {
  display: flex;
  justify-content: space-between;
}
