.projectSettingContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.projectInfoSetting,
.memberManagement,
.tagManagement {
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid var(--brColor);

  & h3,
  h4 {
    margin-bottom: 10px;
  }
}

.projectInfoSetting {
  & .projectStateRadio {
    display: flex;
    justify-content: space-around;

    & .progressRadio,
    .endRadio {
      margin: 10px;
    }
  }

  & .deleteButton {
    margin-left: 20px;
    border: none;
    color: #242424;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    background-color: #e0e0e0;

    &:hover {
      background-color: #dadada;
    }
  }
}

.projectName,
.projectDescription,
.projectStatus {
  margin-bottom: 20px;
}

.projectTitle,
.projectDis,
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #d5d5d5;
  border-radius: 10px;
}

input[type="radio"] {
  margin-right: 5px;
}

.memberButtons {
  width: 200px;
  display: flex;
  justify-content: space-between;

  .memberButton {
    background-color: #ffc300;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;

    &:hover {
      background-color: #e6b411;
    }
  }
}

.settingButton {
  background-color: #ffc300;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    background-color: #e6b411;
  }

  &:last-child {
    margin-top: 30px;
  }
}

.memberList {
  list-style: none;
  padding: 0;

  & .memberItem {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    border-bottom: 1px solid #d5d5d5;

    & .memberName {
      width: 50px;
    }

    & img {
      border-radius: 50%;
      margin-right: 10px;
    }

    & select,
    & p {
      margin-right: 10px;
    }

    & select {
      width: 100px;
    }

    & .memberProfileImage {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }
  }
}

.tagManagement {
  & .tagList {
    display: flex;
    flex-wrap: wrap;
  }

  & .tagAddButton {
    background-color: #ffc300;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;

    &:hover {
      background-color: #e6b411;
    }
  }

  & .tagItem {
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid #d5d5d5;
    background-color: #e0e0e0;

    &:hover {
      background-color: #dadada;
    }
  }
}

.projectDescription input {
  height: 150px;
}

.title {
  display: flex;
  justify-content: space-between;
}
