// Board - List
.board-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 14px;
  padding: 20px 24px;

  &:hover {
    background: #f9f9f9;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .tags {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .tag {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4px 12px;
      background: #e0e0e0;
      border-radius: 5px;
      margin-right: 8px;
      font-size: 11px;
      color: #242424;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  h3 {
    font-size: 20px;
    font-weight: 600;
    color: #242424;
    margin-bottom: 8px;
  }

  p {
    font-size: 15px;
    font-weight: 500;
    color: #464646;
    margin-bottom: 16px;
  }

  .board-info {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    color: #565656;
  }
}

// Board - View
.top-board-view {
  display: flex;
  align-items: center;
  margin-bottom: 32px;

  .back-btn {
    display: block;
    border: none;
    margin-right: 24px;
    cursor: pointer;
  }

  h2 {
    font-size: 34px;
    font-weight: 700;
    color: #242424;
  }
}

.view-info-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 34px;
  margin-bottom: 18px;

  .view-info {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #565656;
  }

  .bookmark-btn {
    border: none;
  }
}

.view-tags {
  display: flex;
  align-items: center;
  padding: 0 34px;
  margin-bottom: 42px;

  .tag {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    background: #e0e0e0;
    border-radius: 5px;
    margin-right: 8px;
    font-size: 11px;
    color: #242424;

    &:last-child {
      margin-right: 0;
    }
  }
}

.board-view-content {
  padding: 0 34px 48px;
  min-height: 400px;
  line-height: 1.6;
}

.comment-wrap {
  border-top: 1px solid #d5d5d5;
  margin: 0 34px;
}

.comment-input-wrap {
  position: relative;
  width: 100%;

  textarea {
    display: block;
    width: 100%;
    min-height: 140px;
    border: 1px solid #d5d5d5;
    font-size: 16px;
    color: #242424;
    border-radius: 10px;
    padding: 24px;
    overflow-y: scroll;
    resize: vertical;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    font-size: 16px;
    font-weight: 500;
    color: #242424;
    position: absolute;
    right: 24px;
    bottom: 10px;
    border: none;
    border-radius: 5px;
    padding: 6px 18px;
  }
}

.comment-info {
  font-size: 20px;
  font-weight: 600;
  color: #242424;
  margin: 16px 0 24px;

  span {
    color: var(--primary);
  }
}
